@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container-xxl {
    margin-top: 2rem;
}

.user-info h1 {
    text-align: center;
    margin-top: 1rem;
}

.user-info ul li {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    list-style-type: none;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: .5rem;
}

.user-info ul li .user-item {
    cursor: pointer;
}

.user-details {
    display: none;
    margin-top: 1rem;
    word-wrap: break-word;
}

.user-details .row p {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.user-details .row p span,
.user-details .row address p {
    font-weight: normal !important;
}

.user-details i {
    cursor: pointer;
}

#editBtns,
#edit-id-display {
    display: none;
}

.invalid-input {
    border: 1px solid red !important;
}

.input-warning {
    color: rgb(235, 0, 0);
    font-size: 0.8rem;
    display: none;
}

.invalid-input+.input-warning {
    display: inline !important;
}